

h1#first{
			text-align: center;
			border: 2px;
			background-color: purple;
			color: white;
			width: 100%;
			position: sticky;
			top: 0px;

		}

		h1#second{
			text-align: center;
			border: 2px;
			background-color: purple;
			color: white;
			width: 100%;
			position: sticky;
			bottom: 0px;

		}

		body{

			  background-image: url(./personal.jpg);
			  background-attachment:fixed;
			  background-size: cover;

			   
		}
		div#pic
			{
				width: 350px;
				height: 500px;
				border-right: 2px solid ;
				border-width: 2px;
				border-style: solid ;
				border-radius:0px  490px 490px 0px;
				background-image: url(./myphoto1.jpg);
				background-size: cover
				left: -10px

			}


			button#btn1{
				position: absolute;
				left: 280px;
				top: 120px;
				background-color: green;
				color: white;
			}


			select#about{
				position: absolute;
				left: 320px;
				top: 170px;
				background-color: green;
				color: white;
			}


			button#btn2{
				position: absolute;
				left: 350px;
				top: 230px;
				background-color: green;
				color: white;
			}

			button#btn3{
				position: absolute;
				left: 363px;
				top: 290px;
				background-color: green;
				color: white;
			}

			select#contact{
				position: absolute;
				left: 361px;
				top: 360px;
				background-color: green;
				color: white;
			}

			div#grid{
				display: grid;
				grid-template-columns: 1fr 1fr;
			}

			label{
				color: yellow;
				font-size: 30px
			}
			h2{
				color:yellow;
				text-align: center;
			}

			div#question{
				
				text-align: center;
			}
			span{
				color: red;
			}

			input{
				background-color: aqua;
			
			}

			textarea{

					background-color: aqua;
			}